.Weather {
  text-align: center;
  display: block;
  margin: 0px auto;
  padding-top: 15px;
  max-width: 600px;
}

.Weather ul {
  list-style: none;
  color: #888888;
  padding-left: 0;
  list-style: none;
}

.Weather h1 {
  color: #4d4949;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.Weather canvas {
  margin-top: 15px;
}
.Weather form {
  border: 2px solid white;
  box-shadow: 4px 4px 5px rgb(135, 134, 134);
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.Weather hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

.Weather a {
  text-decoration: none;
}
.Weather .weather-display {
  border: 2px solid white;
  box-shadow: 4px 4px 5px rgb(135, 134, 134);
  border-radius: 20px;
  display: block;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background-color: white;
}

.Weather .main-temperature {
  font-size: 40px;
  color: #4d4949;
}
.Weather .unit {
  font-size: 15px;
  position: relative;
  top: -17px;
  left: -5px;
}

.Weather .label {
  font-size: 20px;
  color: #4d4949;
}

.Weather .weather-forecast-display {
  border: 2px solid white;
  box-shadow: 4px 4px 5px rgb(135, 134, 134);
  border-radius: 20px;
  display: block;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.WeatherForecast-icon canvas {
  margin: 0px auto;
  margin-top: 5px;
}
